Source: nextexec
Section: misc
Priority: optional
Maintainer: Eero Aaltonen <eero.aaltonen@vaisala.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
#Vcs-Git: git://git.debian.org/collab-maint/nextexec.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/nextexec.git;a=summary

Package: nextexec
Architecture: all
Depends: ${misc:Depends}
Description: Returns the path to the next executable in the PATH.
 Allows scripts to wrap executables without knowing their installation
 location.
