Source: nextexec
Section: misc
Priority: optional
Maintainer: Eero Aaltonen <eero.aaltonen@vaisala.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Vcs-Git: git@github.com:vaisala-oss/java-jni-path.git
Vcs-Browser: https://github.com/vaisala-oss/java-jni-path/tree/master/nextexec

Package: nextexec
Architecture: all
Depends: ${misc:Depends}
Description: Returns the path to the next executable in the PATH.
 Allows scripts to wrap executables without knowing their installation
 location.
